<h2>  {{ tag.name|title }} </h2>
{% if tag.startup_set.all %}
<section>
    <h3>Startups {{ tag.startup_set.count|pluralize }}</h3>
    <p>Tag ist currently accociated with {{ tag.startup_set.count }} startup{{ tag.startup_set.count|pluralize }}
    </p>
    <ul>
    {% for startup in tag.startup_set.all %}
        <li><a href=""> {{ startup.name }} </a></li>
    {% endfor %}
    </ul>
</section>
{% endif %}

<section>
    {% if tag.blog_posts.all %}
    <h3>Blog Post{{ tag.blog_post.count|pluralize }}</h3>
        <p> {{ tag.name }} is associated with {{ tag.blog_post.count }} post {{ tag.blog_post.count|pluralize }}
        </p>
    <ul>
    {% for post in tag.blog_post.all %}
        <li><a href="">{{ post.title|title }}</a></li>
    {% endfor %}

    </ul>
    {% endif %}
</section>

{% if no tag.startup_set.all and not tag.blog_posts.all %}
<h2>{% tag.name|title %} is not related to any content
</h2>
{% endif %}
